td,th{
    font-size: large;
    border: solid;
    color: black;
}
.active_page{
    color: rgba(255,99,71,0.99)
}
.button_page{
    color: aqua;
    border: black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}